@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:wght@700&display=swap');

img{width:80%;
  display: block;}

.li, a, button{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding:16px;
    color: rgb(0, 0, 0);
    user-select: none;
  }
.barra{
    display: flex;
    list-style: none;
    background: rgb(255, 255, 255);
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .buscador li{
    display: inline-block
  }
  .buscador li a:{
    transition: all 0.3s ease 0s;}
 
  .buscador li a:hover{
    color:rgb(139, 127, 127)
  }
  button{
    background-color: black;
    border:none;
    border-radius: 30px;
    color:aliceblue
  }
  button:hover{
    background-color: rgb(120, 125, 126);
  }

  p1{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding:16px;
    color: rgb(0, 0, 0);
    user-select: none;
    margin:100px
  }
  img{
    min-width:100%;
    max-width: 100%;
  }
  h1{font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding:16px;
    color: rgb(0, 0, 0);
    user-select: none;
    margin:100px

  }
  footer {
    position:fixed;
    bottom:0; /** Asi lo establece abajo del todo**/
    text-align:center;
    min-width:100%;
    border-bottom: 2px solid;
    background-color: #ffffff;
    color: #2b2929;
    padding:0.01rem;
}